<div class="form-container">
    <div class="header-section">
        <h4 class="heading" *ngIf="formMode==='Create'">Create New Order</h4>
        <h4 class="heading" *ngIf="formMode==='Update'">Update Order</h4>
    </div>
    <div class="content-section">
        <div fxLayout="column" fxLayoutAlign="center">
            <form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
                <div fxLayout="row" fxLayoutAlign="center">
                    <div fxLayout="column" fxLayoutAlign="center" class="form-field-section">
                        <!-- Name -->
                        <div fxLayoutAlign="center">
                            <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput appStringTrim placeholder="Enter Name" formControlName="Name">
                                <mat-error *ngIf="errorHandling('Name', 'required')">You must provide the Name</mat-error>
                                <mat-error *ngIf="errorHandling('Name', 'minlength')">The Name minimum 3 character required</mat-error>
                                <mat-error *ngIf="errorHandling('Name', 'maxlength')">The Name maximum 80 characters allowed</mat-error>
                                <mat-error *ngIf="errorHandling('Name', 'pattern')">The Name only allow alphabetic characters</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center" class="form-field-section">
                        <!-- State -->
                        <div fxLayoutAlign="center">
                            <mat-form-field appearance="outline">
                                <mat-label>State</mat-label>
                                <input matInput appStringUppercase appStringTrim placeholder="Enter State" formControlName="State">
                                <mat-error *ngIf="errorHandling('State', 'required')">You must provide the State</mat-error>
                                <mat-error *ngIf="errorHandling('State', 'pattern')">The State code only allow alphabetic characters</mat-error>
                                <mat-error *ngIf="errorHandling('State', 'minlength')">The State code should be 2 characters</mat-error>
                                <mat-error *ngIf="errorHandling('State', 'maxlength')">The State code should be 2 characters</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="center">
                    <div fxLayout="column" fxLayoutAlign="center" class="form-field-section">
                        <!-- Zip -->
                        <div fxLayoutAlign="center">
                            <mat-form-field appearance="outline">
                                <mat-label>Zip</mat-label>
                                <input matInput appNumbersOnly placeholder="Enter Zip" formControlName="Zip">
                                <mat-error *ngIf="errorHandling('Zip', 'required')">You must provide the Zip</mat-error>
                                <mat-error *ngIf="errorHandling('Zip', 'pattern')">The Zip only allow numbers</mat-error>
                                <mat-error *ngIf="errorHandling('Zip', 'minlength')">The Zip code should be 6 digits</mat-error>
                                <mat-error *ngIf="errorHandling('Zip', 'maxlength')">The Zip code should be 6 digits</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center" class="form-field-section">
                        <!-- Amount -->
                        <div fxLayoutAlign="center">
                            <mat-form-field appearance="outline">
                                <mat-label>Amount</mat-label>
                                <input matInput appTwoDigitDecimalNumber placeholder="Enter Amount" formControlName="Amount">
                                <mat-error *ngIf="errorHandling('Amount', 'required')">You must provide the Amount</mat-error>
                                <mat-error *ngIf="errorHandling('Amount', 'pattern')">The Amount only allow numbers</mat-error>
                                <mat-error *ngIf="errorHandling('Amount', 'min')">The Amount minimum 1 required</mat-error>
                                <mat-error *ngIf="errorHandling('Amount', 'max')">The Amount maximum 99999999999999 allowed</mat-error>
                                <mat-error *ngIf="errorHandling('Amount', 'number')">The Amount must be a valid digit</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>


                <div fxLayout="row" fxLayoutAlign="center">
                    <div fxLayout="column" fxLayoutAlign="center" class="form-field-section">
                        <!-- Quantity -->
                        <div fxLayoutAlign="center">
                            <mat-form-field appearance="outline">
                                <mat-label>Quantity</mat-label>
                                <input matInput appNumbersOnly placeholder="Enter Quantity" formControlName="Qty">
                                <mat-error *ngIf="errorHandling('Qty', 'required')">You must provide the Quantity</mat-error>
                                <mat-error *ngIf="errorHandling('Qty', 'pattern')">The Quantity only allow numbers</mat-error>
                                <mat-error *ngIf="errorHandling('Qty', 'min')">The Quantity minimum 1 required</mat-error>
                                <mat-error *ngIf="errorHandling('Qty', 'max')">The Quantity maximum 1000 allowed</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center" class="form-field-section">
                        <!-- Item -->
                        <div fxLayoutAlign="center">
                            <mat-form-field appearance="outline">
                                <mat-label>Item</mat-label>
                                <input matInput appStringUppercase appStringTrim placeholder="Enter Item" formControlName="Item">
                                <mat-error *ngIf="errorHandling('Item', 'required')">You must provide the Item</mat-error>
                                <mat-error *ngIf="errorHandling('Item', 'minlength')">The Item minimum 3 character required</mat-error>
                                <mat-error *ngIf="errorHandling('Item', 'maxlength')">The Item maximum 40 characters allowed</mat-error>
                                <mat-error *ngIf="errorHandling('Item', 'exists')">The Item was already exists</mat-error>
                                <mat-error *ngIf="errorHandling('Item', 'contain')">The item must only contain letters and numbers</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>


                <!-- Submit -->
                <div fxLayoutAlign="center">
                    <button mat-flat-button color="primary" class="form-btn" [disabled]="!myForm.valid || loader">{{ formMode }}</button>
                    <button mat-flat-button color="warn" (click)="closePopup()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>