.form-container {
  .header-section {
    .heading {
      font-size: 16px;
      font-weight: 500;
    }
  }
  .content-section {
    form {
      width: 100% !important;
      margin: 0px;
      .mat-form-field {
        padding: 10px;
      }
      .form-field-section {
        width: 100%;
      }
      .mat-flat-button{
        margin: 0px 10px 0px 10px;
      }
    }
  }
}
