.confirm-container {
  .content-section {
    h4 {
      text-align: center;
      font-size: 16px;
    }
  }
  .button-section {
    display: flex;
    justify-content: center;
    .mat-raised-button {
      margin: 8px;
    }
  }
}
