<div class="confirm-container">
    <div class="content-section">
        <h4>{{ DialogData.displayMessage }}</h4>
    </div>
    <div class="button-section">
        <button mat-raised-button color="primary" class="confirm-btn" (click)="confirmButton()">{{ DialogData.buttons.ok }}</button>
        <button mat-raised-button color="accent" (click)="closeDialog()">{{ DialogData.buttons.cancel }}</button>
    </div>
</div>