<div class="main-container">
    <div class="content-section">
        <mat-card class="mat-elevation-z8">
            <mat-card-content class="card-content">
                
                <!-- Header Section -->
                <div class="card-header">
                    <div class="title-section">
                        <h4 class="title">Orders List</h4>
                    </div>
                    <div class="button-section">
                        <button mat-raised-button color="warn" (click)="addOrder()"><mat-icon>add</mat-icon> Add Order</button>
                        <button mat-raised-button color="primary" (click)="openFilterPopup()"><mat-icon>search</mat-icon> Advanced Filter</button>
                        <button mat-raised-button color="accent" class="delete-btn" [disabled]="selectedOrders.length===0" (click)="deleteOrders(true)"><mat-icon>restore_from_trash</mat-icon> Multi Delete</button>
                    </div>
                </div>

                <!-- Filter Section -->
                <div class="filter-section" *ngIf="filterOpened">
                    <app-advanced-filter [tabelFilters]="ordersGridTable.tabelFilters"
                        (filterResponse)="advancedFilterResponseHandle($event)"></app-advanced-filter>
                </div>

                <!-- Table Listing Section -->
                <div class="table-content">
                    <table mat-table matSort [dataSource]="ordersGridTable.dataSource"
                        *ngIf="ordersGridTable.dataSource.filteredData">

                        <!-- Check Box Column -->
                        <ng-container matColumnDef="Checkbox">
                            <th mat-header-cell *matHeaderCellDef class="column-sticky" class="checkbox">
                                <mat-checkbox [disabled]="ordersGridTable.dataSource.length===0"
                                    (change)="checkAllOrders($event)"
                                    [checked]="checkedAll && selectedOrders.length === ordersGridTable.dataSource._data._value.length"
                                    [indeterminate]="checkedAll && selectedOrders.length !== ordersGridTable.dataSource._data._value.length"></mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef=" let element" class="checkbox">
                                <mat-checkbox [checked]="selectedOrders.includes(element.Id)" [(ngModel)]="element.checkbox"
                                    (change)="onCheckOrder(element)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!-- Sno Column -->
                        <ng-container matColumnDef="Sno">
                            <th mat-header-cell *matHeaderCellDef> S No </th>
                            <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                                Item Name</th>
                            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                        </ng-container>

                        <!-- State Column -->
                        <ng-container matColumnDef="State">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                                State Code</th>
                            <td mat-cell *matCellDef="let element"> {{element.State}} </td>
                        </ng-container>

                        <!-- Zip Column -->
                        <ng-container matColumnDef="Zip">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                sortActionDescription="Sort by number">Zip Code</th>
                            <td mat-cell *matCellDef="let element"> {{element.Zip}} </td>
                        </ng-container>

                        <!-- Amount Column -->
                        <ng-container matColumnDef="Amount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                sortActionDescription="Sort by number">Price</th>
                            <td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
                        </ng-container>

                        <!-- Quantity Column -->
                        <ng-container matColumnDef="Qty">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                sortActionDescription="Sort by number">Quantity</th>
                            <td mat-cell *matCellDef="let element"> {{element.Qty}} </td>
                        </ng-container>

                        <!-- Item Column -->
                        <ng-container matColumnDef="Item">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                                Item Code</th>
                            <td mat-cell *matCellDef="let element"> {{element.Item}} </td>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="Action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element">
                                <ng-container>
                                    <div class="example-button-container action-buttons">
                                        <button mat-mini-fab color="warn" (click)="updateOrder(element)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-mini-fab color="primary" (click)="deleteOrders(false, element.Id)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </ng-container>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="ordersGridTable.displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: ordersGridTable.displayedColumns;"></tr>
                    </table>

                    <!-- Data skeleton loader section -->
                    <div class="skeleton-container" *ngIf="ordersGridTable.gridLoader">
                        <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]">
                            <ngx-skeleton-loader count="6" appearance="circle"
                                [theme]="{width: 'calc((100% - 200px) / 8)',height: '20px','border-radius': '0px',margin: '20px 12px'}">
                            </ngx-skeleton-loader>
                        </ng-container>
                    </div>

                    <!-- pagination -->
                    <mat-paginator class="pagination-section" showFirstLastButtons [pageSizeOptions]="ordersGridTable.pageSizeOptions" aria-label="Select page">
                    </mat-paginator>

                    <!-- No data found section -->
                    <div class="nodata-container" *ngIf="!ordersGridTable.gridLoader && !ordersGridTable.dataSource.filteredData">
                        <div class="image-container">
                            <img src="../../assets/images/no-data-found.png" class="image">
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>