.main-container {
  padding-top: 4px;
  .content-section {
    mat-card {
      margin: 24px;
      .card-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid #a9a1a1;
        .title-section {
          .title {
            margin: 0px;
            font-size: 24px;
            font-weight: 500;
          }
        }
        .button-section {
          .mat-raised-button {
            margin-left: 16px;
          }
        }
      }
      .filter-section {
        margin-bottom: 20px;
      }
      .table-content {
        .mat-table {
          width: 100%;
          ::ng-deep {
            .mat-sort-header-arrow {
              color: #ffffff !important;
              opacity: 1 !important;
            }
            .mat-sort-header-content {
              margin-top: 4px;
            }
            .mat-sort-header-container {
              justify-content: center;
            }
          }

          tr.mat-header-row {
            background: #0e70c6;
            color: #ffffff;
            .mat-header-cell {
              color: #ffffff;
            }
          }
        }
        .image-container {
          text-align: center;
          img {
            height: 198px;
          }
        }
      }
    }
  }
}
