<div class="content-section">
    <mat-card class="mat-elevation-z8">
        <mat-card-content class="card-content">
            <div class="example-form-fields">
                <mat-form-field appearance="outline">
                    <mat-label>Product Name</mat-label>
                    <input type="text" matInput placeholder="Enter Product Name" [(ngModel)]="tabelFilters.Name">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Product Code</mat-label>
                    <input type="text" matInput placeholder="Enter Product Code" [(ngModel)]="tabelFilters.Item">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Zip Code</mat-label>
                    <input type="text" matInput placeholder="Enter Zip Code" [(ngModel)]="tabelFilters.Zip">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>State</mat-label>
                    <input type="text" matInput placeholder="Enter Zip Code" [(ngModel)]="tabelFilters.State">
                </mat-form-field>
            </div>
            <div class="form-control">
                <button mat-flat-button color="primary" (click)="applyFilter()">Search</button>
                <button mat-flat-button color="warn" (click)="clearFilter()">Clear</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>