@import "~@angular/cdk/overlay-prebuilt.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
form {
  width: 420px;
  margin: 35px auto 100px;
  display: block;
  float: none;
}
.mat-form-field {
  width: 100%;
}
.misc-bottom-padding {
  margin: 8px 0 20px;
}
.misc-bottom-padding mat-label {
  margin-right: 15px;
}
.mat-radio-label {
  margin: 0 15px 0 0;
}
.title-center {
  margin: 0 auto;
}
.button-wrapper {
  margin-top: 10px;
}

.mat-button-focus-overlay {
  background-color: transparent !important;
}

.action-buttons {
  .mat-button-base {
    height: 34px;
    width: 34px;
  }
  .mat-mini-fab {
    margin: 8px;
  }
  mat-icon {
    height: 16px;
    width: 16px;
    &.material-icons {
      font-size: 16px;
      margin-top: -8px;
    }
  }
}

.mat-table {
  .mat-header-row {
    .mat-header-cell {
      font-size: 16px;
      font-weight: 500;
      color: #000000;
      text-align: center;
      &.mat-column-sno {
        width: 8%;
      }
      &.mat-column-name {
        width: 20%;
      }
      &.mat-column-state {
        width: 10%;
      }
      &.mat-column-zip {
        width: 10%;
      }
      &.mat-column-amount {
        width: 15%;
      }
      &.mat-column-qty {
        width: 10%;
      }
      &.mat-column-item {
        width: 15%;
      }
      &.mat-column-action {
        width: 10%;
      }
    }
  }
  .mat-row {
    .mat-cell {
      text-align: center;
    }
  }
}

snack-bar-container {
  &.error-alert {
    &.mat-snack-bar-container {
      color: #ffffff;
      background: #ef0f0f;
      min-width: 524px;
      .mat-simple-snackbar-action {
        color: #ffffff;
      }
    }
  }
  &.success-alert {
    &.mat-snack-bar-container {
      color: #ffffff;
      background: #058013;
      min-width: 524px;
      .mat-simple-snackbar-action {
        color: #ffffff;
      }
    }
  }
}

.mat-button-disabled {
  color: #ffffff !important;
  opacity: 0.5;
  &.form-btn,
  &.confirm-btn {
    background-color: #3f51b5 !important;
  }
  &.delete-btn {
    background-color: #ff4081 !important;
  }
}

.mat-paginator-navigation-previous, .mat-paginator-navigation-first, .mat-paginator-navigation-next, .mat-paginator-navigation-last{
  background-color: #062745;
  margin: 2px !important
}
